# Python
__pycache__/
*.py[cod]
.env
venv/
env/

# Node
node_modules/
.DS_Store

# Docker
*.log

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3
database/*.db