.login-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-size: cover;
  width: 100vw;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.95); /* blanco con transparencia */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 20vw;
  height: 20w;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: 10px;
}

.login-box button {
  width: 100%;
  padding: 0.5rem;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-box .register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link button {
  background: none;
  border: none;
  color: #008039;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}

.recover{
  text-align: center;
}

.ver-psw{
  position: relative;
  display: flex;
  align-items: center;

}

.ver-psw button{
  width: 20%;
  height: 100%;
  margin-bottom: 1rem;
}

@keyframes backgroundSmooth {
  0% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
  50% {
    background: linear-gradient(135deg, #2c967f, #276749);
  }
  100% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
}