.register-container {
  display: flex;
  height: 100vh;  
  width: 100vw;
  justify-content: center;
  align-items: center;
  /*background-color: #f0f2f5;*/
/*
  background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  animation: backgroundSmooth 3s ease-in-out infinite alternate;*/
 
 
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-size: cover;
/*
  background: url('https://www.transparenttextures.com/patterns/diagmonds.png') repeat;
  background-color: #4ae284cc; /* color azul semi-transparente */

}

.register-box {
  background-color: rgba(255, 255, 255, 0.95); /* blanco con transparencia */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 20vw;
  height: 20w;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.register-box form {
  display: flex;
  flex-direction: column;
}

.register-box input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: 10px;
}

.register-box button {
  width: 100%;
  padding: 0.5rem;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.register-box .register-link {
  margin-top: 1rem;
  text-align: center;
}

.register-link button {
  background: none;
  border: none;
  color: #667eea;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}


@keyframes backgroundSmooth {
  0% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
  50% {
    background: linear-gradient(135deg, #2c967f, #276749);
  }
  100% {
    background: linear-gradient(135deg, #3aaf7b, #1f8a70);
  }
}